
/*Footer section*/
footer{
    color: white;
    background-color: #3949AB;
    width: 100%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 30px 10px 20px 80px;
}

.information{

}
.information-list{
    display: flex;
}
.information-list__social{
    align-items: center;
    margin: 15px;
    padding: 0;
}

.navigation-menu__link{}
.navigation{
}
.navigation-menu{

    margin-top: 5px;
    margin-left: 10px;
}
.navigation-menu__link{
    float: none;
    margin: 0%;
    padding: 0%;
}

.contact{

}
.contact-list{
    padding: 10px;
}
.contact-list__option{
    margin: 0%;
    padding: 0%;
}
.contact-form{}

@media screen and (max-width: 750px) {
    footer {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

/* MEDIA QUERIES (TABLETS) */
@media screen and (max-width: 1350px) {
    .container {
        width: var(--container-width-md);
    }
    h1 {
        font-size: 2.2rem;

    }
    h2 {
        font-size: 1.7rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    /*  NAVBAR  */
    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor:pointer;
    }

    nav button#close-menu-btn {
        display: none;
    }
    .nav__menu{
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }
    .nav__menu li {
        width: 100%;
        height: 5.8rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav__menu li:nth-child(2) {
        animation-delay: 200ms;
    }
    .nav__menu li:nth-child(3) {
        animation-delay: 400ms;
    }
    .nav__menu li:nth-child(4) {
        animation-delay: 600ms;
    }
    @keyframes animateNavItems {
        0% {
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }
        100% {
            transform: rotateZ(0deg) rotateX(0deg) scale(1);
            opacity: 1;
        }
    }
    .nav__menu li a {
        background: var(--color-primary);
        box-shadow: -4rem 6rem 10rem rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
    .nav__menu li a:hover {
        background: var(--color-bg2);
        color: var(--color-white)
    }

    /* Body */

    body {
        height: 52vh;
        margin-bottom: 4rem;
    }

    .body__container {
        grid-template-columns: 1fr;
        gap: 0;
        padding-bottom: 3rem;
    }
    .body__left{
        margin-right: 0;
    }


    /* about */
    .guides {
        height: auto;
    }
    .guides__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .guides__right{
        margin-right: 0;
    }
    /* about */
    .about {
        height: auto;
    }
    .about__container {
        grid-template-columns: 1fr;
    }
    .about__right {
        margin-right: 0;
    }


    /* partner */
    .partner {
        height: auto;
    }
    .partner__container{
        grid-template-columns: 1fr;
    }
    .partner__center{
        margin-right: 0;
    }
}

@media screen and (max-width: 860px) {

    .guides__right{
        grid-template-columns: 1fr;
        gap: 15rem;
        padding: 12%;
    }
    .about__container {
        grid-template-columns: 1fr;
        margin-right: 0%;
    }
    .partner__center{
        grid-template-columns: 1fr;
        gap: 4%;
        padding: 20%;
        position: center;
        text-align: center;
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 300px) {

    .partner__center{
        grid-template-columns: 1fr;
        gap: 4%;
        padding: 20%;
        position: center;
        text-align: center;
        width: auto;
        height: auto;
    }
}
