/*General section*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root {
    --color-primary: #3949AB;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247,88,66,0.4);
    --color-white: #fff;
    --color-light: rgb(255,255,255,0.7);
    --color-black: #000;
    --color-bg: #3949AB;
    --color-b1: #2e3267;
    --color-bg2: #0B2F3E;
    --color-bg3: #5C6BC0;
    --color-button: #009688;


    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

/*Header section*/
.btn-nav {
    background: var(--color-bg);
    color: var(--color-white);
    border-radius: 8px;
}
.btn-plans {
    background: var(--color-button);
    color: var(--color-white);
    border-radius: 8px;
}
.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}


nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}
/* Window scroll */
.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 100px;
}
nav button {
    display: none;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__menu a {
    font-size: 1rem;
    transition: var(--transition);
}
.nav__menu a:hover {
    color: var(--color-black);
    background: #fff;
    transition: var(--transition);
}