/*About Us section*/
.About-Us{
    background-color: #3949AB;
    color: white;
    padding: 5rem 50px 0rem 50px;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));

}

.About-Us_text{
    text-align: center;
    display: grid;
    align-items: center;
}

.About-Us_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.About-Us_right__UPC{
    width: auto;
    height: 100%;
}

/*  */
.Team{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    justify-items: center;
}

.About-the-team h2{
    text-align: left;
    text-indent: 25px;
}

.Card-member{
    width: 250px;
    height: 350px;
    padding: 0px 5px;
    background-color: #8190E3;
    text-align: center;
    border-radius: 5%;
}


.Card-member img{
    width: 240px;
    height: 250px;
    margin-top: 5px;
    border-radius: 5%;
}

.Card-member__social-list{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.Card-member__social-network{
    float: left;
    padding: 2px 5px;
    border: 1px;
}

.Phrase{
    color: white;
    outline: solid 5px black;
    border-radius: 20px;
    background-color:  #007BBB;
    margin-top: 5rem;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 25px;

}

.Phrase h2{
    text-align: center;
}

/*  */
.Team-Video{
    color: black;
    background-color: #ffffff;
}

.Team-Video_DigitalTeam-video{
    display: flex;
    justify-content: center;
}
.Team-Video_DigitalTeam-video iframe{

    width : 699px;
    height: 393px;
}

@media screen and (max-width: 800px) {
    .Team-Video_DigitalTeam-video{
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
        padding-top: 30px;
        position: relative;
    }

    .Team-Video_DigitalTeam-video iframe, .Team-Video_DigitalTeam-video object, .Team-Video_DigitalTeam-video embed {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}