/*General section*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root {
    --color-primary: #3949AB;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247,88,66,0.4);
    --color-white: #fff;
    --color-light: rgb(255,255,255,0.7);
    --color-black: #000;
    --color-bg: #3949AB;
    --color-b1: #2e3267;
    --color-bg2: #0B2F3E;
    --color-bg3: #5C6BC0;
    --color-button: #009688;


    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

/*Header section*/
.btn-nav {
    background: var(--color-bg);
    color: var(--color-white);
    border-radius: 8px;
}
.btn-plans {
    background: var(--color-button);
    color: var(--color-white);
    border-radius: 8px;
}
.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}


nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}
/* Window scroll */
.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 100px;
}
nav button {
    display: none;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__menu a {
    font-size: 1rem;
    transition: var(--transition);
}
.nav__menu a:hover {
    color: var(--color-black);
    background: #fff;
    transition: var(--transition);
}

/*Body section*/
.body__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}
.body__left h1 {
    font-size: 3rem;
}

.body__left p {
    margin: 0rem 0 2.4rem;
    font-size: 1.5rem;
}

.join{
    border-radius: 14px;
    color: white;
    background: #009688;
    width: 213px;
    height: 72px;
    font-size: 20px;
    cursor: pointer;
}

.employer {
    border-radius: 3rem;
    padding: 1.5rem;
}
/*Guides section*/
.guides {
    background: var(--color-white);
    height: 15rem;
}

.guides h1 {
    line-height: 1;
    margin-bottom: 3rem;
}
.guides__container {
    display: grid;
    grid-template-columns: 100%;
    gap: 4rem;
}

.guides__right {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0rem;
}

.steps {
    background: var(--color-bg3);
    margin-top: -50%;
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}
.steps:hover {
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.3);
    z-index: 1;
}

.steps:nth-child(2) {
    background: var(--color-bg2);
}

.steps__icon {
    background: transparent;
    padding: 0.5rem;
    border-radius: 0.9rem;
}
.steps h5 {
    font-size: 2rem;
    margin: 2rem 0rem 1rem;
}
.steps p {
    font-size: 1.23rem;
}
/*About section*/
.about {
    background: var(--color-white);
    height: 65rem;
}
.about h1{
    line-height: 1;
    margin-bottom: 2%;
    color: var(--color-black);
}


.about__container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
}
.about__left {
    display: grid;
    position: center;
}

.about__left h1{
    margin-bottom: 30%;
    display: grid;
    text-align: center;

}

.Product-Video_DigitalTeam-video {
    background: var(--color-primary);
    width: 95%;
    height: 150%;
    position: center;

    margin-top: -10%;;
    margin-bottom:6%;
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
    box-shadow: 0 2rem 2rem rgba(0,0,0,0.3);
    z-index: 1;

}

.about__right {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 0rem;
    margin-left: 10%;
}
.about__right h5{
    font-size: 2rem;
    color: #757575;
    line-height: 2;
}
.about__right p{
    margin-top: -3%;
    font-size: 1.5rem;
    color: var(--color-black);
}
.about__right li {
    color: var(--color-black);
    grid-template-columns: repeat(1,3fr);
    font-size: 1.3rem;
}
.services {
    display: grid;
    margin-top: 0.5rem;
    grid-template-columns: repeat(2,1fr);
    gap: 0rem;
    padding: 0rem;
    border-radius: 2rem;
    transition: var(--transition);
}
/*Partner section*/
.partner {
    background: #5C6BC0;/* var(--color-bg3); */
    height: 30rem;
}

.partner h1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    display: grid;
    text-align: center;
    line-height: 1;
    margin-top: -7%;
    background-color: var(--color-primary);
    padding: 10%;
    color: var(--color-white);

}

.partner__container {
    display: grid;
}
.partner__center {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: var(--color-white);
    border-radius: 2rem;
    margin-top: -15%;
    padding: 3%;
}
.UPC {
    margin-left: 35%;
    margin-bottom: 2%;
    width: 5rem;
    height: 5rem;
}
.MetaGoogle{
    margin-left: 10%;
    margin-bottom: 2%;
    width: 15rem;
    height: 6rem;
}
.IEEE {

    margin-left: 10%;
    margin-bottom: 2%;
    width: 15rem;
    height: 6rem;
}